/* Глобальные стили, в том числе объявление переменный для цветов и тп */

:root {
    font-family: Roboto, sans-serif;
    --main-bg: #121212;
    --main-text: #efefef;

    /* мб придумать что-то с неймингом? */
    --color-1: #2d2d2d;
    --color-2: #545454;
    --color-3: #979797;
    --color-4: #cbcbcb;
    --color-5: #efefef;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
}
