/* Глобальные стили, в том числе объявление переменный для цветов и тп */

:root {
    font-family: Roboto, sans-serif;
    --main-bg: #121212;
    --main-text: #efefef;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
}
