.button {
    color: red;
    border-radius: 10px;
    background-color: var(--color-5);
    color: var(--color-1);
    padding: 8px 16px;

    font-weight: 600;
    font-size: 15px;

    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.button:hover {
    background-color: var(--color-4);
}
.icon_button {
    background-color: transparent;
    color: white;
    border: none;
}

.icon_button:hover {
    background-color: #2d2d2d;
}
