.content{
    margin-left: 1em;
    margin-right: 1em
}

tools {
    display: flex;
    text-align: right;
}

input[type="search"] {
    border-radius: 5px;
    width: 20%;
}

.add_button_and_search {
    display: flex;
    justify-content: space-between;
}

.list {
    margin-top: 1em
}